@import "../../css/quasar.variables.scss";

.button {
  color: white;
  background-color: #231f20;
  font-family: $font-family-press-start-2p;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 1.5rem;
  border: 3px solid black;
}

.container-button {
  display: flex;
  background-color: black;
  border-radius: 0.5rem 1rem 2rem 1rem;
  border: 3px solid black;
  border-top-width: 0;
  border-left-width: 0;
  padding: 0 0.5rem 0.5rem 0;

  > * {
    width: 100%;
  }
}
