// app global css in SCSS form

// Imported fonts
@font-face {
  font-family: "DotGothic16";
  src: url(./fonts/DotGothic16/DotGothic16-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PressStart2P";
  src: url(./fonts/Press_Start_2P/PressStart2P-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "DotGothic16", sans-serif;
  font-size: 1rem;
}
