@import "../css/quasar.variables.scss";

.title {
  font-family: $font-family-press-start-2p;
}

.pokemon-list {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon-item {
  margin: 10px;
  text-align: center;
}
